.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: linear-gradient(#478ac9, #adf6f2);
  margin: 60px auto 0 850px;
}

.u-section-1 .u-image-1 {
  height: 489px;
  width: 576px;
  object-position: 43.51% 9.57%;
  margin: -125px auto 0 387px;
}

.u-section-1 .u-group-1 {
  width: 385px;
  min-height: 478px;
  background-image: linear-gradient(#478ac9, #adf6f2);
  margin: -385px auto 60px 62px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 17px auto 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  text-align: center;
  font-weight: 700;
  margin: 36px auto 0 0;
  padding: 14px 52px 14px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-left: 712px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-shape-1 {
    width: 200px;
    height: 200px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 351px;
    width: 427px;
    margin-top: -116px;
    margin-right: 71px;
  }

  .u-section-1 .u-group-1 {
    width: 436px;
    min-height: 450px;
    margin-top: -89px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 155px;
    height: 155px;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    height: 434px;
    width: 434px;
    margin-top: -93px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 312px;
    margin-top: -178px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: -36px;
  }

  .u-section-1 .u-image-1 {
    height: 281px;
    width: 320px;
    object-position: 43.51% 90.89%;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 310px;
    min-height: 492px;
    margin-top: -36px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 53px;
  }
} .u-section-2 {
  background-image: url("images/b776ef28-2fd6-7f41-f904-3250a4ae993b.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-image-1 {
  width: 95px;
  height: 95px;
  margin: 208px auto 60px;
}

.u-section-2 .u-text-1 {
  margin: 208px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: auto;
  margin: -176px 0 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 264px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -232px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -288px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-image-1 {
    width: 115px;
    height: 115px;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -116px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 127px;
    margin-bottom: 47px;
  }
}